<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.configcenter.mapper.TicketMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.example.configcenter.entity.Ticket">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="dataId" property="data_id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="phase" property="phase" jdbcType="VARCHAR"/>
        <result column="applicator" property="applicator" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="createTime" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="update_time" jdbcType="TIMESTAMP"/>
        <result column="oldData" property="old_data" jdbcType="VARCHAR"/>
        <result column="newData" property="new_data" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Column_List">
        id, data_id, title, phase, applicator, operator, create_time, update_time, old_data,new_data
    </sql>

    <!-- 插入用户 -->
    <insert id="create" parameterType="com.example.configcenter.entity.Ticket" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ticket (
            data_id, title, phase, applicator, operator, create_time, update_time, old_data,new_data
        ) VALUES (
            #{dataId}, #{title}, #{phase}, #{applicator}, #{operator}, #{createTime}, #{updateTime}, #{oldData},
            #{newData}
        )
    </insert>

</mapper> 